<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>WebHomeWork01</display-name>
    <servlet>
        <servlet-name>MyResume</servlet-name>
        <servlet-class>org.bill.webhomework01.MyResume</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyResume</servlet-name>
        <url-pattern>/MyResume</url-pattern>
    </servlet-mapping>
</web-app>